<a href="https://colab.research.google.com/github/yogeshtak/Learning-Pandas/blob/master/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction to Pandas (**Learning**)

In [0]:
import numpy as np
import pandas as pd

In [0]:
#creating a series
s = pd.Series([1,3,5, np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [0]:
#creating a Dataframe by passing a NumPy array, with datetime index
dates = pd.date_range('20130101', periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [0]:
df = pd.DataFrame(np.random.randn(6,5), index=dates, columns=list('ABCDE'))

In [12]:
df

                   A         B         C         D         E
2013-01-01 -0.206071 -2.769143 -0.554455 -0.637884 -2.772718
2013-01-02 -0.516522 -0.324732 -0.412782 -1.538629 -0.187742
2013-01-03  1.540862  2.142781 -1.151342  1.030643  0.983447
2013-01-04 -0.307434  1.907115 -0.367869 -0.841948 -1.256099
2013-01-05  1.403317  0.354736  0.115020 -1.567088 -1.476453
2013-01-06 -0.557467  0.462761 -0.197045 -1.027950  0.607876

In [0]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01  0.587544  0.937401 -1.560917  0.644177
2013-01-02  0.479668 -0.668533  1.557058  0.192983
2013-01-03  0.439145  0.724800 -1.061360 -0.135357
2013-01-04 -0.905768 -1.819753  2.036154 -1.054889
2013-01-05 -1.876355  0.788241  0.313703  0.160906
2013-01-06 -1.376006  0.352330  0.987541 -0.279898

In [0]:
#creating a dataframe by passing a dict of objects that can be converted to series-like
df2= pd.DataFrame({'A':1.,
                  'B': pd.Timestamp('20130102'),
                  'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                  'D':np.array([3]*4, dtype='int32'),
                  'E': pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})

In [18]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [19]:
#the columns of the resulting Dataframe have different dtypes
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

##**Viewing Data**

In [21]:
df.head()

                   A         B         C         D
2013-01-01  0.587544  0.937401 -1.560917  0.644177
2013-01-02  0.479668 -0.668533  1.557058  0.192983
2013-01-03  0.439145  0.724800 -1.061360 -0.135357
2013-01-04 -0.905768 -1.819753  2.036154 -1.054889
2013-01-05 -1.876355  0.788241  0.313703  0.160906

In [22]:
df.tail(2)

                   A         B         C         D
2013-01-05 -1.876355  0.788241  0.313703  0.160906
2013-01-06 -1.376006  0.352330  0.987541 -0.279898

In [23]:
#display the index, columns
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')